Source: flexswitch
Section: misc
Priority: optional
Maintainer: SnapRoute <support@snaproute.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage:http://www.snaproute.com 
#Vcs-Git: git://git.debian.org/collab-maint/flexswitch.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/flexswitch.git;a=summary

Package: flexswitch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, redis-server(>=2.8)
Description: <FlexSwitch : Opensource Network Protocols Stacks>
 <OpenSource Protocol Suite developed by SnapRoute>
