#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_shlibdeps:
	#dh_shlibdeps -l$(SR_CODE_BASE)/snaproute/src/asicd/pluginManager/sai/mlnx/libs -l$(SR_CODE_BASE)/snaproute/src/asicd/pluginManager/sai/bfoot/libs
	dh_shlibdeps -l$(SR_CODE_BASE)/snaproute/src/asicd/pluginManager/sai/mlnx/libs

binary:
	dh binary --before dh_strip
	dh binary --after dh_strip
