Source: flexswitch
Section: misc
Priority: optional
Maintainer: Hari <hari@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage:http://www.snaproute.com 
#Vcs-Git: git://git.debian.org/collab-maint/flexswitch.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/flexswitch.git;a=summary

Package: flexswitch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
